/* 通配符选择器 */

/* *表示全部的元素 */

/* * {
    margin: 0;
    padding: 0;
} */

/* 选择器{样式} */

/* 标签选择器 */

/* 类选择器 : 样式点定义，class类调用*/

.red {
    color: firebrick;
}

.font_size {
    font-size: 32px;
}

/* id选择器 */

/* id调用只能调用一次 */

#box {
    width: 150px;
    height: 100px;
    color: #897462;
}

.passage {
    width: 32px;
    height: 32px;
}

.have_fun_2 {
    font-family: '华文新魏';
}

/* blod的700不加单位，700表示blod加粗 */

/* normal为400 */

.blod {
    font-weight: 700;
    /* font-weight: bold; */
}

.fuhe {
    /* font: font-style font-weight font-size/line-height font-family */
    font: normal 700 32px '华文新魏'
}


.text {
/* 让文字水平对齐 */
    text-align: center;
/* 增加下划线等，颜色？ */
    text-decoration: line-through;
/* 首行缩进,可以是负的，em表示文字为单位缩进 */
    text-indent: 2em;
}
.line{
    /* 行间距 */
    line-height: 20px;
}